[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "birddog"]
	path = birddog
	url = https://github.com/roneyfraga/come-to-telegram-rickluminari1--birddog
[submodule "getLattes"]
	path = getLattes
	url = https://github.com/roneyfraga/come-to-telegram-rickluminari1--getlattes
